.clampText {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 14px;
    line-height: 1.4;
    margin: 1px;
    color: var(--text);
}

.moreBtn {
    background: none;
    border: none;
    padding: 0;
    color: #0d6efd;
    cursor: pointer;
    font-size: 14px;
}